<div class="split-screen">
  <div class="right">
    <form [formGroup]="userLogin" (ngSubmit)="onSubmit()">
      <div class="form-row"></div>
      <section class="copy">
        <h4>Forgot Password</h4>
        <div class="login-container pt-2">
          <p>Please enter your Email to Verify</p>
        </div>
      </section>
      <div class="form-container">
        <div class="input-container email">
          <label for="email">Your Email Address</label>
          <input
            type="email"
            id="email"
            placeholder="abc@email.com"
            class="input-size"
            formControlName="email"
          />
          <div class="d-flex justify-content-between w-100">
            <label for="password"></label>
            <p
              class="text-black-50 forgot-password fw-bold"
              (click)="backToLogin()"
            >
              Back to Login?
            </p>
          </div>
        </div>

        <button
          type="submit"
          class="btn signup-btn d-flex gap-3 align-items-center"
        >
          <i class="pi"></i>Submit
        </button>
      </div>
    </form>
  </div>
</div>
