<nav
  style="--bs-breadcrumb-divider: '>'; color: #b1b1b1"
  aria-label="breadcrumb"
  class="bread-crumb"
>
  <ol class="breadcrumb d-flex align-items-center mt-4 pb-3">
    <li class="breadcrumb-item">
      <div (click)="manageOrder()" class="a">
        <img
          src="../../../../assets/images/icons/order-management-icon.png"
          alt="icon"
        />
        Order Mangement
      </div>
    </li>
    <li class="breadcrumb-item active" aria-current="page">In Progress</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="d-flex align-items-center mx-5 buttons">
    <h1 class="title">In Progress</h1>
  </div>
  <div style="overflow: auto; flex: 1">
    <table
      class="table"
      style="
        overflow-x: auto;
        width: 100%;
        table-layout: fixed;
        white-space: nowrap;
        border-collapse: collapse;
      "
    >
      <thead>
        <tr>
          <th scope="col" class="t-head">Sr No.</th>
          <th scope="col" class="th-table text-nowrap">Order ID</th>
          <th scope="col" class="th-table text-nowrap">Customer Name</th>
          <th scope="col" class="th-table text-nowrap">Event Date & Time</th>
          <th scope="col" class="th-table text-nowrap">Booking Date</th>
          <th scope="col" class="th-table text-nowrap">Hall Name</th>
          <th scope="col" class="th-table text-nowrap">Order Amount</th>
          <th scope="col" class="th-table text-nowrap">Advance</th>
          <th scope="col" class="th-table text-nowrap">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of paginatedData; let i = index" class="d-flex">
          <td class="t-head" style="border-bottom: none">
            {{ (currentPage - 1) * pageSize + i + 1 }}
          </td>
          <td class="email-td text-nowrap">{{ row.order_id }}</td>
          <td class="email-td text-nowrap">{{ row.customer_name }}</td>
          <td class="email-td text-nowrap">{{ row.date_time }}</td>
          <td class="email-td text-nowrap">{{ row.booking_date }}</td>
          <td class="email-td text-nowrap">{{ row.hall_name }}</td>
          <td class="email-td text-nowrap">{{ row.order_amount }}</td>
          <td class="email-td text-nowrap">{{ row.advance }}</td>
          <td>
            <div style="display: flex; border-bottom: none">
              <button type="button" class="btn action-button">
                <img src="../../../../assets/icon/edit.png" alt="Edit" />
              </button>
              <button type="button" class="btn action-button">
                <img src="../../../../assets/icon/delete.png" alt="Delete" />
              </button>
              <button type="button " class="btn action-button">
                <img src="../../../../assets/icon/view.png" alt="View" />
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end m-5 align-items-center">
      <!-- Previous button -->
      <li class="page-item" [class.disabled]="currentPage == 1">
        <a
          class="page-link d-flex align-items-center"
          (click)="prevPage()"
          tabindex="-1"
        >
          <span class="material-symbols-outlined" style="color: #fb6f10"
            >chevron_left</span
          >
          Previous
        </a>
      </li>
      <!-- Pagination links -->
      <li
        class="page-item"
        *ngFor="let page of pages"
        [class.active]="currentPage == page"
      >
        <a class="page-link" (click)="setCurrentPage(page)">{{ page }}</a>
      </li>
      <!-- Next button -->
      <li class="page-item" [class.disabled]="currentPage == totalPages">
        <a class="page-link d-flex align-items-center" (click)="nextPage()">
          Next
          <span class="material-symbols-outlined" style="color: #fb6f10"
            >chevron_right</span
          >
        </a>
      </li>
    </ul>
  </nav>
</div>
