$breadcrumb-divider: quote(">");

$orange_color: #fb6f10;

main {
  box-shadow: 0px 0px 8px -4px #00000052;
  margin-bottom: 30px;
}
//breadcrumb
.breadcrumb {
  font-size: 15px;

  text-decoration: none !important;
}

.breadcrumb a {
  text-decoration: none;
  color: #fb6f10;
}
.bread-menu {
  margin-left: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.12px;
  letter-spacing: -0.02em;
  cursor: pointer;
  text-align: left;
  color: #fb6f10;
}
.category-icon {
  width: 22.5px;
  height: 20.83px;
  top: 13.5px;
  left: 13px;
  gap: 0px;
  border: 0.2px 0px 0px 0px;
  opacity: 0px;
  color: #fb6f10;
}
.add-category {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15.12px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #b1b1b1;
}
.arrow {
  font-size: 12px;
  margin: 7px;
  color: #b1b1b1;
}
// **************
.custom-button {
  border: none;
  background-color: #fb6f10;
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 16px;
  // margin-right: 12rem !important;
}
.booking-details {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #1e293b;
}

.order-btn {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  background-color: $orange_color;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 12px 16px 12px 16px;
  border-radius: 8px;
  border: none;
}

.input-class {
  width: 100%;
  max-width: 650px;
  height: 59px;
  padding-left: 20px;
  border-radius: 12px !important;
  border: 1px solid #dfeaf2;
  transition: 0.5s ease;
}

form {
  width: 100%;
}

.custom-dropdown-list {
  position: absolute;
  z-index: 35;
  background-color: aliceblue;
  width: 100%;
  max-width: 650px;
}

.input-class:focus {
  outline: none;
  border: 1px solid #0077ff;
}

.danger-outline {
  outline: none;
  border: 1px solid #ff0000;
}

.danger-outline:focus {
  outline: none;
  border: 1px solid #ff0000;
}

.label-text {
  color: #232323;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.dropdown-select {
  cursor: pointer;
  width: 100%;
  max-width: 650px;
  height: 35px;
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  font-size: 16.9241px;
  line-height: 14px;
  letter-spacing: -0.01em;
  // text-transform: capitalize;
  color: #b1b1b1;
  background: white;

  padding: 30px;
}
.selected-item {
  cursor: pointer;
  padding-left: 4px;
  padding-right: 4px;
}

.select-vender {
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding-left: 20px;
}

::placeholder {
  color: #718ebf;
}

.form-select-lg {
  cursor: pointer;
  width: 100%;
  max-width: 650px;
  font-size: 15px;
  padding: 14px 20px;
  // margin: 8px 60px 0px;
  box-sizing: border-box;
  border-radius: 12px !important;
  height: 59px;
}
.form-select-lg:hover {
  background-color: #58585818;
}

.modal-title {
  color: $orange_color;
  font-size: 24px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
}

.text-area {
  // width: 89%;
  // max-width: 89%;
  width: 100%;
  max-width: 1418px;
  height: 100px;
  font-size: 15px;
  border-radius: 12px !important;
  padding-left: 20px;
  border: 1px solid #dfeaf2;
  transition: 0.5s ease;
}

.upload-cover__img {
  cursor: pointer;
}
.margin {
  margin-left: 5rem !important;
}
.chip-img {
  display: inline-block;
  border-radius: 20px;
  .close {
    right: 16px;
    top: -9px;
    cursor: pointer;
    font-weight: bold;
    opacity: 1;
    position: relative;
  }
  .object-fit-fill {
    border-radius: 10px;
  }
}

.close {
  cursor: pointer;
  font-weight: bold;
  opacity: 1;
  position: relative;
  right: 13px;
  top: -13px;
  border-radius: 10px;
}
.images-slider {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #b1b1b1;
}
@media (max-width: 1024px) {
  form {
    display: flex;
    justify-content: center;
  }

  .flex-wrap-2 {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 850px) and (max-width: 992px) {
  .text-area {
    width: 93%;
  }
  .input-class {
    font-size: 12px;
    width: 93%;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .text-area {
    width: 100%;
    max-width: 100%;
  }
  .form-select-lg {
    cursor: pointer;
    font-size: 12px;
  }
  .input-class {
    font-size: 12px;
    width: auto;
    max-width: auto;
  }
  .breadcrumb {
    font-size: 12px;
    margin-left: 0 !important;
  }
  .custom-button {
    padding: 5px 8px !important;
    font-size: 12px;
    margin-right: 0 !important;
  }
}
.floor {
  margin-top: 13%;
}
.custom-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem; /* Equivalent to mt-2 */
}
