$breadcrumb-divider: quote(">");

$orange_color: #fb6f10;

main {
  box-shadow: 0px 0px 8px -4px #00000052;
}
//breadcrumb
.breadcrumb {
  font-size: 15px;

  text-decoration: none !important;
}

.breadcrumb a {
  text-decoration: none;
  color: #fb6f10;
}
.bread-menu {
  margin-left: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.12px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fb6f10;
  cursor: pointer;
}
.category-icon {
  width: 22.5px;
  height: 20.83px;
  top: 13.5px;
  left: 13px;
  gap: 0px;
  border: 0.2px 0px 0px 0px;
  opacity: 0px;
  color: #fb6f10;
}
.add-category {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15.12px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #b1b1b1;
}
.arrow {
  font-size: 12px;
  margin: 7px;
  color: #b1b1b1;
}
.card-title {
  color: black;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: capitalize;
}
.card-body {
  color: grey;
  padding: 39px, 32px, 39px, 24px;
  font-size: 13px;
}

.card-text {
  margin-top: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.card-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%; /* Adjust the height of the shadow as needed */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 40.71%,
    rgba(0, 0, 0, 0.84) 92.31%
  ); /* Adjust the opacity and direction of the shadow as needed */
}

.custom-button {
  color: white;
  padding: 5px 20px;
  height: 40px;
  border-radius: 10px;
  border: none;
  position: relative;
}
.card {
  display: flex;
  // width: 902px;
  height: auto;
  border: none;
  padding: 60px;
}
// img {
//   height: 320px;
//   width: 320px;
//   border-radius: 40px;
//   padding: 30px;
// }

.text-container {
  flex: 2;
  margin-top: 29px;
}

.info-container {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}

.info-item {
  flex: 0 0 calc(33.333% - 20px); /* Adjust the width as needed */
  margin-right: 20px; /* Adjust the margin between items */
  margin-bottom: 20px; /* Adjust the margin bottom */
}

.info-label {
  margin-bottom: 5px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;

  letter-spacing: -0.02em;
  color: #b1b1b1;
}

.info-value {
  margin: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #2b2b2b;
}

// carousal
.carousel-inner .carousel-item img {
  height: 319px;
  border: 1px dashed #b1b1b1;
  border-radius: 8px;
  object-fit: cover;
  margin: 20px 20px 20px 1px;
  line-height: 15%;
  max-width: 90%;
  filter: brightness(0.8);
}

.carousel-control-prev,
.carousel-control-next {
  align-items: end;
  padding: 10px 53px 41px !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 100%;
  padding: 12px;
  width: 15px;
  height: 15px;
  background-size: 46%;
  filter: invert(1);
}

.carousel-indicators {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 12px;
  height: 12px;
  border-radius: 100% !important;
}
.branch-detail {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #1e293b;
  margin-top: 15px;
}
.icons {
  margin-right: 10px;
}
.branch-name {
  text-transform: capitalize;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #1e293b;
}
.image-container {
  position: relative;
}

.no-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  color: #333; /* Text color */
}
@media only screen and (max-width: 425px) {
  .branch-name {
    font-size: 18px;
  }
  .icon {
    display: inline-block !important;
  }
  .edit-text {
    display: none;
  }

  .info-label {
    display: flex;
    font-size: 14px;
    width: 151px;
    max-width: 100%;
  }
  .info-value {
    display: flex;
  }
}

.icon {
  display: none;
}
