<p>company-contact-details works!</p>
<div class="d-flex justify-content-between mt-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <div (click)="manageCompany()">
          <img
            src="../../../../assets/images/sidebar-icons/menu.png"
            alt="icon"
            class="company-icon mx-1"
          />
          <span class="bread-menu">Manage Companies</span>
        </div>
      </li>
      <i class="fa-solid fa-chevron-right arrow px-3"></i>

      <li class="breadcrumb-item active add-company mt-2" aria-current="page">
        Add Company
      </li>
    </ol>
  </nav>
</div>
<div class="container-fluid">
  <div class="d-flex align-items-center mt-5">
    <h1 class="company-header flex-grow-1">Add Company</h1>
  </div>

  <div class="card">
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col">
            <label for="categoryName" class="branch">First Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Company Name"
              formControlName="company_name"
            />
            <div
              *ngIf="
                companyForm.get('company_name')?.hasError('required') &&
                companyForm.get('company_name')?.touched
              "
              class="text-danger error-state mx-5"
            >
              Company Name is required.
            </div>
          </div>
          <div class="col">
            <label for="categoryName" class="branch">Last Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Company Name"
              formControlName="company_name"
            />
            <div
              *ngIf="
                companyForm.get('company_name')?.hasError('required') &&
                companyForm.get('company_name')?.touched
              "
              class="text-danger error-state mx-5"
            >
              Company Name is required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="categoryName" class="branch">Email Address</label>
            <input
              type="text"
              class="form-control"
              placeholder="Company Name"
              formControlName="company_name"
            />
            <div
              *ngIf="
                companyForm.get('company_name')?.hasError('required') &&
                companyForm.get('company_name')?.touched
              "
              class="text-danger error-state mx-5"
            >
              Company Name is required.
            </div>
          </div>
          <div class="col">
            <label for="categoryName" class="branch">Contact Number</label>
            <input
              type="text"
              class="form-control"
              placeholder="Company Name"
              formControlName="company_name"
            />
            <div
              *ngIf="
                companyForm.get('company_name')?.hasError('required') &&
                companyForm.get('company_name')?.touched
              "
              class="text-danger error-state mx-5"
            >
              Company Name is required.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="categoryName" class="branch">Password</label>
            <input
              type="text"
              class="form-control"
              placeholder="Company Name"
              formControlName="company_name"
            />
            <div
              *ngIf="
                companyForm.get('company_name')?.hasError('required') &&
                companyForm.get('company_name')?.touched
              "
              class="text-danger error-state mx-5"
            >
              Company Name is required.
            </div>
          </div>
          <div class="col">
            <label for="categoryName" class="branch">Confirm Password</label>
            <input
              type="text"
              class="form-control"
              placeholder="Company Name"
              formControlName="company_name"
            />
            <div
              *ngIf="
                companyForm.get('company_name')?.hasError('required') &&
                companyForm.get('company_name')?.touched
              "
              class="text-danger error-state mx-5"
            >
              Company Name is required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="categoryName" class="branch">Address</label>
            <input
              type="text"
              class="form-control"
              placeholder="Company Name"
              formControlName="company_name"
            />
            <div
              *ngIf="
                companyForm.get('company_name')?.hasError('required') &&
                companyForm.get('company_name')?.touched
              "
              class="text-danger error-state mx-5"
            >
              Company Name is required.
            </div>
          </div>
          <div class="col">
            <label for="categoryName" class="branch">CNIC</label>
            <input
              type="text"
              class="form-control"
              placeholder="Company Name"
              formControlName="company_name"
            />
            <div
              *ngIf="
                companyForm.get('company_name')?.hasError('required') &&
                companyForm.get('company_name')?.touched
              "
              class="text-danger error-state mx-5"
            >
              Company Name is required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3 form-check checkbox">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label">
                I agree to the
                <span class="orange-text">Terms and Conditions</span>
              </label>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center mt-5">
          <div class="ml-auto">
            <button class="custom-button" (click)="saveData()">
              Save & Next
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
