<div class="d-flex align-items-center mt-5 buttons bottom-border">
  <div class="d-flex align-items-center">
    <button
      class="mx-2 left-button left-btn-text"
      [class.orange-button]="selectedButton === 'branch'"
      (click)="selectButton('branch')"
      type="button"
    >
      Manage Branches
    </button>
    <button
      class="mx-2 left-button left-btn-text"
      [class.orange-button]="selectedButton === 'hall'"
      (click)="selectButton('hall')"
      type="button"
    >
      Manage Halls
    </button>
  </div>
</div>
<div class="d-flex align-items-center mt-4">
  <h1 class="title">All Companies</h1>
  <div class="ml-auto">
    <button class="custom-button" (click)="addCompanies()">Add Company</button>
  </div>
</div>
<div class="container-fluid">
  <div class="d-flex align-items-center mt-5 mx-5 buttons">
    <div class="d-flex align-items-center">
      <button
        class="mx-2 left-button left-btn-text"
        [class.orange-button]="selectedButton === 'all'"
        (click)="selectButton('all')"
        type="button"
      >
        All
      </button>
      <button
        class="mx-2 left-button left-btn-text"
        [class.orange-button]="selectedButton === 'active'"
        (click)="selectButton('active')"
        type="button"
      >
        Active
      </button>
      <button
        class="mx-2 left-button left-btn-text"
        [class.orange-button]="selectedButton === 'inactive'"
        (click)="selectButton('inactive')"
        type="button"
      >
        InActive
      </button>
    </div>

    <!-- Right side buttons -->
    <div class="ml-auto d-flex gap-1 align-items-center">
      <button class="mx-2 sort-button search-btn btn-text" type="button">
        <span>
          <img
            src="../../../../assets/halls/search-normal.png"
            style="height: 20px"
            alt="Logo"
        /></span>
      </button>
      <button
        class="mx-2 sort-button search-btn d-flex gap-1 align-items-center"
        type="button"
      >
        <span class="material-symbols-outlined"> filter_list </span>
        <span class="btn-text">Sort</span>
        <span class="btn-text span-text__color">All</span>
      </button>
      <button class="mx-2 sort-button search-btn btn-text" type="button">
        <img src="../../../../assets/images/setting-4.png" alt="Logo" />
        <span class="btn-text-filter mx-3">Filter</span>
      </button>
    </div>
  </div>
  <div style="flex: 1">
    <table
      class="table"
      style="
        overflow-x: auto;
        width: 100%;
        table-layout: fixed;
        white-space: nowrap;
        border-collapse: collapse;
      "
    >
      <thead>
        <tr>
          <th scope="col" class="t-head">Sr No.</th>
          <th scope="col" class="th-table text-nowrap">Company ID</th>
          <th scope="col" class="th-table text-nowrap">Owner Name</th>
          <th scope="col" class="th-table text-nowrap">Last Login & Time</th>
          <th scope="col" class="th-table text-nowrap">Joining Date</th>
          <th scope="col" class="th-table text-nowrap">Brand Name</th>
          <th scope="col" class="th-table text-nowrap">Emails</th>
          <th scope="col" class="th-table text-nowrap">Total Revenue</th>
          <th scope="col" class="th-table text-nowrap">Status</th>
          <th scope="col" class="th-table text-nowrap">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData; let i = index" class="d-flex">
          <td class="t-head" style="border-bottom: none">
            1
            <!-- {{ (currentPage - 1) * pageSize + i + 1 }} -->
          </td>
          <td class="email-td text-nowrap">
            {{ row.order_id || "No Data" }}
          </td>
          <td class="email-td text-nowrap">
            {{ row?.first_name + "   " + row?.last_name }}
          </td>
          <td class="email-td text-nowrap">
            {{ row.last_login_at || "No Data" }}
          </td>
          <td class="email-td text-nowrap">
            {{ row.joining_date | date : "dd/MM/yyyy" || "No Data" }}
          </td>
          <td class="email-td text-nowrap">
            {{ row.brand_name || "No Data" }}
          </td>
          <td class="email-td text-nowrap">
            <a
              *ngIf="row.email; else noDataTemplate"
              [href]="'mailto:' + row.email"
              >Check Now</a
            >
            <ng-template #noDataTemplate>No Data</ng-template>
          </td>

          <!-- <td class="email-td text-nowrap">
            {{ row.email || "No Data" }}
          </td> -->
          <td class="email-td text-nowrap">
            {{ row.salary || "No Data" }}
          </td>

          <td class="email-td text-nowrap">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="flexSwitchCheckDefault"
                [checked]="row.status"
              />
            </div>
          </td>

          <td class="email-td text-nowrap">
            <div style="display: flex; border: none">
              <button
                type="button"
                class="btn action-button"
                (click)="editCompany(row?._id)"
              >
                <img src="../../../../assets/icon/edit.png" alt="Edit" />
              </button>
              <button
                type="button"
                class="btn action-button"
                (click)="deleteCategory(row?._id)"
              >
                <img src="../../../../assets/icon/delete.png" alt="Delete" />
              </button>
              <button
                type="button "
                class="btn action-button"
                (click)="viewCompany(row?._id)"
              >
                <img src="../../../../assets/icon/view.png" alt="View" />
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
