<div class="split-screen">
  <div class="right">
    <form [formGroup]="userLogin" (ngSubmit)="changePassward()">
      <div class="form-row"></div>
      <section class="copy">
        <h4>Change Password</h4>
        <div class="login-container pt-2">
          <p>Please Enter Your New Password To Reset</p>
        </div>
      </section>
      <div class="form-container">
        <div class="input-container email">
          <label for="email">Your New Password</label>
          <input type="password" placeholder="*********" class="input-size" formControlName="password" />
        </div>
        <div class="input-container password">
          <label for="password">Confirm Password</label>
          <input type="password" placeholder="*********" class="input-size" formControlName="confirm_password" />

          <i class="far fa-eye-slash"></i>
        </div>

        <button type="submit" class="btn signup-btn d-flex gap-3 align-items-center">
          <i class="pi"></i>Sign to admin
        </button>
      </div>
    </form>
  </div>
</div>