<nav aria-label="breadcrumb" class="mt-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <div class="a" (click)="personalInfo()">
        <img
          src="../../../../assets/images/profile.png"
          alt="City Icon"
          class="category-icon"
        />
        <span class="bread-menu">Profile</span>
      </div>
    </li>
    <i class="fa-solid fa-chevron-right arrow px-3"></i>

    <li class="breadcrumb-item active add-category mt-2" aria-current="page">
      Change Password
    </li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="d-flex align-items-center bottom-button">
    <button class="default-button" (click)="personalInfo()">
      <span class="btn-text">Personal Information</span>
    </button>
    <button class="mx-3 change-password">
      <span class="pwd-text">Change Password</span>
    </button>
  </div>
  <div class="d-flex align-items-center bottom-border mt-4">
    <h1 class="flex-grow-1 mb-0 profile-details">Update Password</h1>
    <div class="ml-auto">
      <button class="custom-button" (click)="savePassword()">
        <span class="custom-text">Save Changes</span>
      </button>
    </div>
  </div>
  <form [formGroup]="userPassword" (ngSubmit)="updateUserPwd()">
    <div class="row">
      <div class="col">
        <div class="profile-heads">Current Password</div>
        <div class="profile-body">
          <input
            type="text"
            class="form-control"
            formControlName="current_password"
            placeholder="Current Password"
          />
        </div>
      </div>
      <div class="col">
        <div class="profile-heads">New Password</div>
        <div class="profile-body">
          <input
            type="text"
            class="form-control"
            formControlName="new_password"
            placeholder="New Password"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="profile-heads">Verify Password</div>
        <div class="profile-body">
          <input
            type="text"
            class="form-control"
            placeholder="Verify Password"
            formControlName="confirm_password"
            (input)="enteredNewPwd()"
            [ngClass]="{ 'danger-outline': pwdNotMatch }"
          />
          <span class="text-danger" *ngIf="pwdNotMatch"
            >Password not match</span
          >

          <span class="text-success" *ngIf="pwdMatch">Password Match</span>
        </div>
      </div>
    </div>
  </form>
</div>
