.card-title {
  color: black;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: capitalize;
}
.address {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
// .card-location {
//   display: flex;
//   align-items: center;
// }

// .card-location img {
//   margin-right: 8px; /* Adjust the spacing between the image and address */
// }

// .address {
//   max-width: calc(100% - 24px); /* Adjust width as needed */
//   overflow: hidden;
//   white-space: nowrap;
//   text-overflow: ellipsis;
// }

// search icon
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 40px;
  position: relative;
}

.input {
  border-style: none;
  height: 100%;
  width: 50px;
  padding: 10px;
  outline: none;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 0px 3px #f3f3f3;
  padding-right: 40px;
  color: #000000;
}

.input::placeholder,
.input {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
}

.input::placeholder {
  color: #8f8f8f;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  outline: none;
  border-style: none;
  border-radius: 50%;
  pointer-events: painted;
  background-color: transparent;
  transition: 0.2s linear;
}

.icon:focus ~ .input,
.input:focus {
  box-shadow: none;
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 3px solid #7e4fd4;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
// Search icon closed
.carousel-inner .carousel-item img {
  // width: 100% !important;
  // width: 310px;
  height: 261px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  // height: auto;
  object-fit: cover;
  line-height: 15%;
  max-width: 100%;
  // border-radius: 20px;
  filter: brightness(0.8);
}

.carousel-control-prev,
.carousel-control-next {
  align-items: end;
  padding: 10px 10px 18px !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 100%;
  padding: 12px;
  width: 15px;
  height: 15px;
  background-size: 46%;
  filter: invert(1);
}

.carousel-indicators {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 12px;
  height: 12px;
  border-radius: 100% !important;
}
.bottom-content {
  position: absolute;
  bottom: 13px;
  right: 30px;
  width: 90%;
  background-color: white;
  padding: 10px;
}
.branches {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #1e293b;
}
.noShow {
  border-radius: 5px;
  overflow-y: scroll;

  .noShowTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px !important;
    font-size: 24px;
    flex-direction: column;
  }

  .text-data {
    text-align: center;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #293345;
    margin-left: 33px;
  }
}
//buttons
.edit-button {
  box-sizing: border-box;
  margin: 0 auto;
  height: 32px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.active-btn {
  gap: 10px;
  background: rgba(0, 218, 61, 0.2);
  border-radius: 249px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  align-items: center;
  letter-spacing: -0.02em;
  border: none;
  color: #00da3d;
  margin-left: 5px;
}
.inactive-btn {
  gap: 10px;

  border-radius: 249px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  align-items: center;
  letter-spacing: -0.02em;
  border: none;
  background-color: #ffc3c0;
  color: red;
  margin-left: 5px;
}
.custom-button {
  border: none;
  background-color: #fb6f10 !important;
  font-size: 16px;
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
}

.sort-button {
  border: 1px solid #dddddd;
  background-color: #ffffff;
  color: #dddddd;
  border-radius: 8px;
  border: 1px solid #dddddd;
  padding: 8px 16px 8px 16px;
}

.span-text__color {
  color: #fb6f10 !important;
  // font-size: 12px;
}

.header {
  width: 441px;
  height: 32px;
  gap: 0px;
  opacity: 0px;
}

.card-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  height: 20%; /* Adjust the height of the shadow as needed */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 40.71%,
    rgba(0, 0, 0, 0.84) 92.31%
  ); /* Adjust the opacity and direction of the shadow as needed */
}
.indicator.active {
  background-color: white;
}

.custom-button {
  border: none;
  background-color: #fb6f10;
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: center;
  .fas {
    color: #e0e0e0;
  }
}

.card {
  display: flex;
  width: calc(100% - 1px);
  height: 261px;
  border-radius: 24px;
  // padding: 24px;
}
.image-container {
  position: relative;
}

.no-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  color: #333; /* Text color */
}

.text-container {
  flex: 5;
}
.carousel-inner > .item {
  width: 264px;
  height: 261px;
}

// .form-switch .form-check-input {
//   width: 4em !important;
//   height: 3rem !important;
//   color: #fb6f10;
// }
.btn-button {
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  color: #dddddd;
  padding: 3px 7px;
  border-radius: 6px;
}
// .form-check-input:checked {
//   background-color: #fb6f10;
//   border-color: #fb6f10;
// }
.manage-category {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #1e293b;
  margin-left: -1em;
}

.card-img {
  border-radius: 16px;
  height: 176px;
  // width: 227px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.69) 100%
  );
}
.item {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.86px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #555555;
}

// button
.btn-text-filter {
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.12px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #b1b1b1;
}

.btn-text {
  // font-size: 16px;
  // color: #858585;
  //styleName: Medium/Type@14;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #b1b1b1;
}

.span-text__color {
  padding-left: 8px;
  color: #fb6f10 !important;
}
.not-active {
  border: 1px solid #dddddd;
  cursor: pointer;
  border-radius: 10px;
  background: white;
}

.material-symbols-outlined {
  color: #b1b1b1;
  border-radius: 8px;
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
// breadcrumb
.breadcrumb {
  font-size: 15px;
  margin-left: 2rem !important;
  text-decoration: none !important;
}

.breadcrumb a {
  text-decoration: none;
  color: #fb6f10;
}
.bread-menu {
  margin-left: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.12px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fb6f10;
}
.category-icon {
  width: 22.5px;
  height: 20.83px;
  top: 13.5px;
  left: 13px;
  gap: 0px;
  border: 0.2px 0px 0px 0px;
  opacity: 0px;
  color: #fb6f10;
}
.add-category {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15.12px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #b1b1b1;
}
.arrow {
  font-size: 12px;
  margin: 7px;
  color: #b1b1b1;
}

.form-switch .form-check-input {
  width: 3em !important;
  height: 3rem !important;
  color: #fb6f10;
}
.form-check-input:checked {
  background-color: #fb6f10;
  border-color: #fb6f10;
}
@media (min-width: 315px) and (max-width: 420px) {
  .card {
    display: flex;
    // width: calc(100% - 1px);
    height: auto;
    border-radius: 24px;
    // padding: 24px;
  }
  .carousel-inner .carousel-item img {
    border-top-left-radius: 14px !important;
    border-top-right-radius: 14px !important;
    border-bottom-left-radius: 0px !important;
    width: 100%;
  }
  .carousel-inner > .item {
    width: 270px;
    height: 209px;
  }
  .bottom-content {
    width: 86%;
    right: 25px;
  }
  .card-text {
    font-size: 12px;
    line-height: 15px; /* Adjust line height as needed */
  }

  .sort-button .btn-text {
    display: none;
  }
  .btn-text-filter {
    display: none;
  }
  .card-body {
    height: 228px;
  }
}

.card-text {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-top: 8px;
  letter-spacing: -0.01em;
  color: #7b7b7b;
}
@media (min-width: 1200px) {
  .carousel-inner .carousel-item img {
    width: 100%;
  }
  .carousel-inner > .item {
    width: 310px;
    height: 261px;
  }
}
@media (min-width: 922px) and (max-width: 1200) {
  .carousel-inner .carousel-item img {
    width: 100%;
  }
  .carousel-inner > .item {
    width: 290px;
    height: 209px;
  }
  .card-text {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 921) {
  .card-text {
    font-size: 12px;
  }
}
@media (min-width: 420px) and (max-width: 767px) {
  .card {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 24px;
    // padding: 24px;
  }
  .carousel-inner .carousel-item img {
    border-top-left-radius: 14px !important;
    border-top-right-radius: 14px !important;
    border-bottom-left-radius: 0px !important;
  }
  .carousel-inner > .item {
    width: 419px;
    height: 209px;
  }
  .bottom-content {
    width: 86%;
    right: 25px;
  }
  .card-text {
    margin-bottom: 63px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3 !important;
    // max-height: calc(1.2em * 3) !important;
    font-size: 12px;
    // line-height: 15%;
    text-overflow: ellipsis;
    // color: pink !important;
  }
  .sort-button .btn-text {
    display: none;
  }
  .btn-text-filter {
    display: none;
  }
}
//filter
.filter-container {
  position: absolute;
  top: 247px;
  right: 29px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-color: #fff;
  z-index: 1000; /* Ensure it appears above other content */
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.filter-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.branchSelect {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  // padding: 20px;
  letter-spacing: -0.02em;
  color: #b1b1b1;
}

.dropdown-menu.show {
  display: block;
}
.dropdown-menu {
  margin-left: -60px;
}

//sorting
.sort-container {
  position: relative;
  display: inline-block;
}

.sorting {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
  border-radius: 10px;
}

.sorting-item {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

.sort-container:hover .sorting {
  display: block;
}
.des-lines {
  display: -webkit-box;
  -webkit-line-clamp: 6; /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
