<main class="bg-white mt-4 rounded-3">
  <div class="d-flex flex-column">
    <div class="d-flex align-items-center">
      <h1 class="flex-grow-1 mb-0 branch-name">Category Detail</h1>
      <div class="ml-auto">
        <button
          class="custom-button"
          style="background-color: #fb6f10; font-size: 16px"
        >
          <span class="edit-text" (click)="editBranch(categoryData._id)">
            Edit Category</span
          >
        </button>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col-md-3">
        <div class="info-container">
          <div class="info-item">
            <p class="info-label">
              <img
                src="../../../../assets/images/branch-details/Text.png"
                class="icons"
              />Title
            </p>
            <div class="info-value">{{ categoryData.category_name }}</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info-item">
          <p class="info-label">
            <img
              src="../../../../assets/images/branch-details/address.png"
              class="icons"
            />Branch Name
          </p>
          <p class="info-value">{{ categoryData.branch_info?.branch_name }}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="info-item">
          <p class="info-label">
            <img
              src="../../../../assets/images/branch-details/File Text.png"
              class="icons"
            />Description
          </p>
          <p class="info-value">{{ categoryData.category_description }}</p>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex align-items-center gap-5 mt-2">
        <label for="thumbnail-upload" class="images-slider mt-5"
          >Thumbnail Image</label
        >
        <label for="file-upload" class="images-slider cate-image mt-5"
          >Category Images</label
        >
      </div>
    </div>
    <div class="d-flex flex-wrap gap-3">
      <!-- Display thumbnail image or default image -->
      <img
        *ngIf="categoryData?.thumbnail_image; else defaultThumbnail"
        [src]="
          'https://dev-backend.hamaravenue.com/' + categoryData.thumbnail_image
        "
        width="200"
        height="180"
        class="object-fit-fill rounded-4"
      />
      <ng-template #defaultThumbnail>
        <img
          src="../../../../assets/dashboard/default-image.webp"
          width="200"
          height="180"
          class="object-fit-fill rounded-4"
        />
      </ng-template>

      <!-- Display other images or default image if no images available -->
      <ng-container
        *ngIf="
          categoryData?.images && categoryData.images.length > 0;
          else defaultImages
        "
      >
        <img
          *ngFor="let image of categoryData.images"
          [src]="'https://dev-backend.hamaravenue.com/' + image"
          alt="images"
          class="images-loader"
        />
      </ng-container>
      <ng-template #defaultImages>
        <img
          src="../../../../assets/dashboard/default-image.webp"
          width="200"
          height="180"
          class="object-fit-fill rounded-4 images-loader"
        />
      </ng-template>
    </div>
  </div>
</main>
