<nav
  style="--bs-breadcrumb-divider: '>'; color: #b1b1b1"
  aria-label="breadcrumb"
  class="mt-3 mb-4"
>
  <ol class="breadcrumb d-flex align-items-center mt-4 pb-3">
    <li class="breadcrumb-item">
      <div (click)="orderManagement()" class="a">
        <img
          src="../../../../assets/images/icons/order-management-icon.png"
          alt="icon"
        />
        Order Mangement
      </div>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Bookings</li>
  </ol>
</nav>
<main class="bg-white mt-4 rounded-3">
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-between align-items-center mt-4 mb-5">
      <span class="booking-details">Booking Details</span>
      <button
        type="button"
        class="order-btn"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        Add Team
      </button>
    </div>
    <div class="d-flex justify-content-start align-items-center">
      <span class="booking-details mb-4" style="font-size: 18px"
        >Hall Details</span
      >
    </div>
    <div class="d-flex justify-content-start gap-5 mt-4 mb-3">
      <div
        class="d-flex flex-column gap-2 col-md"
        *ngFor="let data of halldetail"
      >
        <div class="d-flex align-items-center gap-2">
          <img [src]="data.image" alt="icon" class="vender-icons" />
          <span class="type-class">{{ data.name }}</span>
        </div>
        <span class="customer-name">{{ data.vendertype }}</span>
      </div>
    </div>
    <hr />
    <div class="d-flex justify-content-start align-items-center">
      <span class="booking-details mb-4" style="font-size: 18px"
        >Customer Details</span
      >
      <!-- <img
        src="../../../../assets/images/icons/edit-pen-icon.png"
        alt="icon"
        class="edit-pen"
      /> -->
    </div>
    <div class="d-flex justify-content-start gap-5 mt-4 mb-3">
      <div class="d-flex flex-column gap-2 col-md" *ngFor="let data of detail">
        <div class="d-flex align-items-center gap-2">
          <img [src]="data.image" alt="icon" class="vender-icons" />
          <span class="type-class">{{ data.name }}</span>
        </div>
        <span class="customer-name">{{ data.vendertype }}</span>
      </div>
    </div>
    <hr />
    <div class="d-flex justify-content-start align-items-center">
      <span class="booking-details mb-4" style="font-size: 18px">Menu</span>
    </div>
    <div class="d-flex justify-content-start gap-5 mt-4 mb-3">
      <div class="d-flex flex-column gap-2 col-md" *ngFor="let data of detail">
        <div class="d-flex align-items-center gap-2">
          <img [src]="data.image" alt="icon" class="vender-icons" />
          <span class="type-class">{{ data.name }}</span>
        </div>
        <span class="customer-name">{{ data.vendertype }}</span>
      </div>
    </div>
    <hr />

    <div class="d-flex justify-content-start align-items-center">
      <span class="booking-details mb-4" style="font-size: 18px"
        >Assign the team</span
      >
    </div>
    <div class="d-flex justify-content-start gap-5 mt-4 mb-3">
      <div
        class="d-flex flex-column gap-2 col-md"
        *ngFor="let data of detail.slice(0, 3)"
      >
        <div class="d-flex align-items-center gap-2">
          <img [src]="data.image" alt="icon" class="vender-icons" />
          <span class="type-class">{{ data.name }}</span>
        </div>
        <span class="customer-name">{{ data.vendertype }}</span>
      </div>
    </div>
    <hr />
    <div class="d-flex justify-content-between align-items-center">
      <span class="booking-details" style="font-size: 18px"
        >Standard Price:</span
      >
      <span class="total-payment">Rs: 50,000</span>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3">
      <div class="d-flex justify-content-between gap-5 flex-wrap-2">
        <div class="input-group d-flex flex-column gap-2">
          <label for="discount" class="label-text">Discount (%)</label>
          <input
            type="text"
            id="address"
            placeholder="0%"
            class="input-class"
            readonly
          />
        </div>
        <div class="input-group d-flex flex-column gap-2">
          <label for="final price" class="label-text"> &nbsp; </label>
          <div
            class="input-class border-0 d-flex justify-content-between align-items-center"
          >
            <label for="" class="label-text">Final Price</label>
            <span class="final-price">Rs: 50,000</span>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="d-flex justify-content-end align-items-center gap-4">
      <button class="order-btn" style="background-color: #b1b1b1; width: 180px">
        Cancel
      </button>
      <button class="order-btn" style="width: 180px">Confirm Order</button>
    </div>
  </div>
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header d-flex flex-column justify-content-start">
          <span class="modal-title" id="staticBackdropLabel">
            Assign the team
          </span>

          <div class="w-75 mw-100 mt-4">
            <label
              for="address"
              class="booking-details mb-2"
              style="font-size: 14px; font-weight: 600"
              >Employee Type</label
            >
            <div class="custom-dropdown">
              <div
                class="selected-item d-flex align-items-center justify-content-between input-class"
                (click)="toggleDropdownEmployee()"
              >
                <span class="select-vender">Manager</span>
                <span
                  class="material-symbols-outlined"
                  style="color: #b1b1b1"
                  *ngIf="!showEmployeeDropdown"
                >
                  expand_more
                </span>
                <span
                  class="material-symbols-outlined"
                  style="color: #b1b1b1"
                  *ngIf="showEmployeeDropdown"
                >
                  expand_less
                </span>
              </div>
              <div class="dropdown-list" *ngIf="showEmployeeDropdown">
                <div *ngFor="let vendor of employeeType">
                  <label
                    class="d-flex align-items-center gap-3 p-3 dropdown-select"
                  >
                    <input
                      type="checkbox"
                      [(ngModel)]="vendor.selected"
                      [ngModelOptions]="{ standalone: true }"
                    />
                    {{ vendor.vendorType }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">...</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="button" class="order-btn">Done</button>
        </div>
      </div>
    </div>
  </div>
</main>
