/* =========== Google Fonts ============ */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}

.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

img {
  width: 50px;
  height: 50px;
}

.app-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.app-header {
  z-index: 1001;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.title-header {
  font-size: 16px;
  font-weight: 400;
}

.user {
  position: relative;
  width: 48px;
  height: 48px;
  gap: 0px;
  opacity: 0px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 2px 7px 0px #00000040;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.searchbar {
  border-radius: 30px;
  height: 50px !important;
  font-size: 14px;
  background: #f5f7fa;
}

.searchbar:focus {
  outline: none !important;
}

.search-container input[type="search"] {
  padding-left: 40px;
  border: none;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.15px;
  text-align: left;
}
.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 47%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
}

@media screen and (min-width: 2560px) {
  .app-header .app-header__content {
    padding-left: 4rem;
    display: flex;
    align-items: center;
    align-content: center;
    flex: 1;
    width: 84%;
    height: 85px;
  }
}

@media screen and (max-width: 992px) {
  .app-header__content {
    flex-direction: column;
  }

  .app-header-right {
    margin-top: 10px;
    text-align: center;
  }

  .widget-content-left,
  .widget-content-right {
    margin-top: 10px;
    margin-left: 0;
  }

  .search-container {
    width: 100%;
  }

  .icon-circle {
    margin: 5px;
  }
}

.app-header {
  margin-left: -65px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

@media (max-width: 1440px) {
  .search-container {
    width: 100%;
  }

  .title-header {
    font-size: 13px;
    font-weight: 400;
  }

  .app-header {
    padding: 28px;
    margin-left: -39px;
    position: fixed;
    width: 78%;
    top: 0;
    z-index: 1000;
  }
}

@media (min-width: 1441px) and (max-width: 1596px) {
  .app-header {
    padding: 28px;
    margin-left: -39px;
    position: fixed;
    width: 78%;
    top: 0;
    z-index: 1000;
  }
}

@media (min-width: 1597px) and (max-width: 1630px) {
  .app-header {
    padding: 28px;
    margin-left: -39px;
    position: fixed;
    width: 80%;
    top: 0;
    z-index: 1000;
  }
}

@media (min-width: 1645px) and (max-width: 1725px) {
  .app-header {
    padding: 28px;
    margin-left: 100px;
    position: fixed;
    width: 77%;
    top: 0;
    z-index: 1000;
  }
}

@media (min-width: 1726px) and (max-width: 2100px) {
  .app-header {
    padding: 28px;
    margin-left: 30px;
    position: fixed;
    width: 82%;
    top: 0;
    z-index: 1000;
  }
}
@media (min-width: 2101px) and (max-width: 2559px) {
  .app-header {
    padding: 28px;
    margin-left: -4px;
    position: fixed;
    width: 83%;
    top: 0;
    z-index: 1000;
  }
}
@media (min-width: 310px) and (max-width: 768px) {
  .app-header {
    padding: 28px;
    margin-left: -4px;
    position: fixed;
    width: 83%;
    top: 0;
    z-index: 1000;
  }
}
.header {
  display: flex;
  position: relative;
  background-color: transparent;
  flex-wrap: nowrap;
  justify-content: flex-end;

  .nav {
    width: calc(100% - 295px);

    .header-block {
      // background-color: #fafafa;
      border-bottom-left-radius: 5px;
      width: 100% !important;

      // width: calc(100% - 300px);
      left: 300px;
      background: var(--white);
      transition: 0.5s;

      .userprofile {
        background-color: #ffffff;
        margin-left: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
      }

      .title-label {
        font-family: "Plus Jakarta Sans";
        margin-left: 20px;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: -0.03em;
        text-align: left;
        color: #343c6a;
      }
    }
  }
}

::placeholder {
  color: #718ebf;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #718ebf;
}

.pop-setting {
  position: absolute;
  top: 7%;
  right: 2%;
}

.example-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: rgba(255, 255, 255);
  padding: 6px 0;
}

.example-menu-item,
.example-standalone-trigger {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.example-menu-item:hover {
  background-color: rgb(208, 208, 208);
}

.example-menu-item:active {
  background-color: rgb(170, 170, 170);
}

.example-standalone-item {
  background-color: rgb(239, 239, 239);
}
.example-standalone-item:hover {
  background-color: rgb(208, 208, 208);
}
.example-standalone-item[aria-expanded="true"] {
  background-color: rgb(208, 208, 208);
}

ng-template {
  height: fit-content !important;
}
.pi-cog {
  color: #718ebf;
}
.img-icon {
  cursor: pointer;
  height: 60px;
  width: 60px;
  object-fit: none;
}

.title-label {
  font-weight: 500;
  letter-spacing: -1px;
  color: #343c6a;
  font-family: "Plus Jakarta Sans", sans-serif;
  user-select: none;
  padding-left: 1.5rem;
}
