<div class="header">
  <div class="nav">
    <div class="header-block">
      <div class="userprofile">
        <div>
          <label class="title-label">{{ getTitle() }}</label>
        </div>
        <button class="navbar-toggler" type="button" (click)="sidebarToggle()">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="app-header-right" style="text-align: right">
          <div class="header-btn-lg pr-0">
            <div class="widget-content p-0">
              <div class="widget-content-wrapper">
                <div class="widget-content-left">
                  <div class="d-flex justify-content-end">
                    <div class="search-container mt-2 mr-20 bg-white">
                      <img
                        src="../../../assets/icon/search.png"
                        alt="Search Icon"
                        class="search-icon"
                      />
                      <input
                        class="form-control me-2 searchbar"
                        type="search"
                        placeholder="Search for Something"
                        aria-label="Search"
                      />
                    </div>

                    <div class="ml-3 mx-2 d-flex align-items-center mr-20">
                      <img
                        src="../../../../assets/images/vender-dashboard/gear-icon.png"
                        alt="setting"
                        class="img-icon"
                      />
                      <img
                        src="../../../../assets/images/vender-dashboard/bell-icon.png"
                        alt="bell"
                        class="img-icon"
                      />
                    </div>

                    <div class="widget-content-right mt-2 ml-3 mr-20">
                      <div
                        class="user"
                        [cdkMenuTriggerFor]="menu"
                        cdkMenuOpened
                      >
                        <img
                          src="assets/img.avif"
                          alt="user profile"
                          class="img-icon"
                        />
                      </div>

                      <ng-template #menu>
                        <div class="example-menu pop-setting" cdkMenu>
                          <button
                            class="example-menu-item"
                            (click)="userProfile()"
                            cdkMenuItem
                          >
                            Profile
                          </button>
                          <button
                            class="example-menu-item"
                            (click)="onSignOut()"
                            cdkMenuItem
                          >
                            Sign out
                          </button>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
