.container-fluid {
  // width: 1496px;
  width: 100%;
  float: left;
  // height: 730px;
  background: #fff;
  border-radius: 8px;
  margin-top: 22px;
  padding: 40px 40px;
  box-shadow: 0px 2px 10px 0px #0000001a;
}
.title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #1e293b;
  margin-top: 30px;
}
.profile-details {
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #1e293b;
}
.custom-button {
  width: 58px;
  height: 45px;
  padding: 12px 16px;
  gap: 10px;
  border: 1px solid #fb6f10;
  border-radius: 8px;
  background: #fb6f10;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ffffff;
}
.default-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  width: 152px;
  height: 32px;
  background: #fb6f10;
  border: 1.5px solid #fb6f10;
  border-radius: 6px;
  flex: none;
  order: 0;
  flex-grow: 0;
  .btn-text {
    width: 120px;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
.change-password {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  width: 137px;
  height: 32px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  background: #ffffff;
  .pwd-text {
    width: 105px;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #b1b1b1;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}

.bottom-border {
  border-bottom: 1px solid #ccc;
  padding-bottom: 28px;
  margin-bottom: 10px;
}

// .image-container {
//   margin-top: 20px;
//   position: relative;
//   display: inline-block;
//   img {
//     border-radius: 100%;
//     box-sizing: border-box;
//     width: 128px;
//     height: 128px;
//     border: 1px solid #e1e1e1;
//     flex: none;
//     order: 0;
//     flex-grow: 0;
//   }
//   button {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     padding: 6.93985px 11.5664px;
//     gap: 5.78px;
//     position: absolute;
//     width: 26px;
//     height: 25.45px;
//     left: 53.5px;
//     top: 117px;
//     background: #fb6f10;
//     border-radius: 4.62657px;
//     color: #ffffff;
//     border: none;
//   }
//   button:hover {
//     background-color: white;
//     color: #fb6f10;
//   }
// }
.profile-data {
  width: 1045.28px;
}
.profile-heads {
  padding-top: 20px;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #b1b1b1;
}
.profile-body {
  padding-top: 2%;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #2b2b2b;
  text-transform: capitalize;
}
.bottom-button {
  border-bottom: 1px solid #ccc;
  padding-bottom: 24px;
  margin-bottom: 10px;
}
//switch
.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 21.14px;
  border-radius: 29.07px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fb6f10;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 16px;
  left: 2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

//breadcrumb
.breadcrumb {
  font-size: 15px;
  text-decoration: none !important;
}

.breadcrumb a {
  text-decoration: none;
  color: #fb6f10;
}
.breadcrumb-item {
  .a {
    img {
      width: 48.04px;
      height: 45.04px;
    }
  }
}
.bread-menu {
  margin-left: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.12px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fb6f10;
}
.category-icon {
  width: 23.04px;
  height: 23.04px;
  top: 12px;
  left: 12px;
  gap: 0px;
  border: 0.2px 0px 0px 0px;
  opacity: 0px;
}
.add-category {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15.12px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-top: 14px !important;
  color: #b1b1b1;
}
.arrow {
  font-size: 12px;
  margin-top: 8px;
  color: #b1b1b1;
  padding-top: 8px;
}
.user-profile {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: contain;
}

.verified-icon {
  position: relative;
  left: -3rem;
  top: 3rem;
  height: 25px;
  width: 25px;
  user-select: none;
}
