$breadcrumb-divider: quote(">");

$orange_color: #fb6f10;

main {
  box-shadow: 0px 0px 8px -4px #00000052;
  padding: 50px;
}

a {
  text-decoration: none;
  color: #fb6f10;
  font-weight: 600;
  font-size: 12px;
}

.breadcrumb-item {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #b1b1b1;
  cursor: pointer;
}

.booking-details {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #1e293b;
}

.user-profile {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: contain;
}

.order-btn {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  background-color: $orange_color;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 12px 16px 12px 16px;
  border-radius: 8px;
  border: none;
}

.not-active {
  border: 1px solid #dddddd;
  cursor: pointer;
}

.filter-title {
  color: #b1b1b1;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

// .input-class {
//   width: 100%;
//   max-width: 535px;
//   height: 50px;
//   padding-left: 20px;
//   border-radius: 15px !important;
//   border: 1px solid #dfeaf2;
//   transition: 0.5s ease;
// }

.input-class:focus {
  outline: none;
  border: 1px solid #0077ff;
}

.label-text {
  color: #232323;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.selected-item {
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
}

.select-vender {
  color: #718ebf;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.dropdown-select {
  cursor: pointer;
  width: 100%;
  max-width: 535px;
  height: 50px;
}

.dropdown-select:hover {
  background-color: #58585818;
}

.modal-title {
  color: $orange_color;
  font-size: 24px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
}

::placeholder {
  color: #718ebf;
}

.upload-image {
  cursor: pointer;
}

.text-type {
  color: #b1b1b1;
  font-size: 16px;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-transform: capitalize;
}

.text-get {
  color: #2b2b2b;
  font-size: 14px;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-transform: capitalize;
}

.boxes-2 {
  width: 100%;
  max-width: 620px;
  padding-left: 2rem;
}

@media (max-width: 1125px) {
  form {
    display: flex;
    justify-content: center;
  }

  .flex-wrap-2 {
    display: flex;
    flex-wrap: wrap;
  }
}
/* Optional: You can add styles to position the close button */
.chip-img {
  position: relative;
}

.close-img {
  position: absolute;
  top: 5px;
  right: 12px;
  cursor: pointer;
  z-index: 1; /* Ensure it is on top of the image */
}

.close-img img {
  width: 20px; /* Adjust size as needed */
  height: 20px;
}

// .chip-img {
//   display: inline-block;
//   border-radius: 20px;
//   .close-img {
//     img {
//       right: 33px;
//       bottom: 47px;
//       width: 27px;
//       height: 25px;
//       font-weight: bold;
//       opacity: 1 !important;
//       position: relative;
//       border: none;
//     }
//   }
//   .object-fit-fill {
//     border-radius: 100px;
//   }
// }

input[type="file"] {
  display: none;
}
// .chip-img {
//   display: inline-block;
//   border-radius: 20px;
//   .close-img {
//     img {
//       right: 33px;
//       bottom: 47px;
//       width: 27px;
//       height: 25px;
//       font-weight: bold;
//       opacity: 1 !important;
//       position: relative;
//       border: none;
//     }
//   }
//   .object-fit-fill {
//     border-radius: 100px;
//   }
// }
.close {
  cursor: pointer;
  font-weight: bold;
  opacity: 1;
  position: relative;
  right: -4px;
  top: -109px;
}
.input-class {
  height: 50px;
  // margin-top: 9px;
  border-radius: 8px;
  border: 1px solid #dfeaf2;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  color: black !important;
  padding-left: 3%;
  width: 100%;
  max-width: 535px;
  height: 50px;
  padding-left: 20px;
  border-radius: 15px !important;
  border: 1px solid #dfeaf2;
  transition: 0.5s ease;
}
.custom-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  margin: 0 auto;
  width: 114px;
  height: 39px;
  background: #fb6f10;
  border-radius: 8px;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 15.12px;
  letter-spacing: -0.02em;
  color: #ffffff;
  border: none;
}
