<nav
  id="sidebarMenu"
  class="d-lg-block sidebar bg-white"
  [class.show-on-mobile]="isMobileMenu()"
>
  <div class="position-sticky">
    <div class="app-main">
      <div class="app-sidebar">
        <div class="app-header__logo">
          <div>
            <img src="../../../assets/logo/logo.png" alt="fav logo" />
          </div>
          <!-- <label class="title-header">Hamara Venue</label> -->
        </div>
        <hr class="separator" />
        <div
          class="container w-100-p"
          style="
            --bs-gutter-x: 0 !important;
            height: 100vh;
            overflow: hidden auto;
          "
        >
          <div class="navigation">
            <ul class="nav-links" id="nav-links">
              <li
                *ngFor="let item of menuItems"
                #itemEl
                routerLinkActive="active"
              >
                <div *ngIf="item.subItems?.length == 0" class="dropdown-title">
                  <a [routerLink]="[item.routerLink]">
                    <span class="material-symbols-outlined">{{
                      item.iconClass
                    }}</span>
                    <span class="link_name">{{ item.title }}</span>
                  </a>
                  <i [class]="item.iconClass"></i>
                </div>
                <div
                  *ngIf="(item?.subItems || []).length > 0"
                  class="dropdown-title"
                  (click)="showSubmenu(itemEl)"
                >
                  <a>
                    <span class="material-symbols-outlined">{{
                      item.iconClass
                    }}</span>
                    <span class="link_name">{{ item.title }}</span>
                  </a>
                  <i class="fas fa-chevron-down arrow"></i>
                </div>
                <ul class="sub-menu" [class.blank]="item.subItems.length == 0">
                  <li>
                    <a class="link_name">{{ item.title }}</a>
                  </li>
                  <li
                    *ngFor="let item_sub of item.subItems"
                    routerLinkActive="active"
                  >
                    <a [routerLink]="[item_sub.routerLink]">{{
                      item_sub.title
                    }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
