.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 100%;
  max-width: 300px;
  height: 100%;
  z-index: 600;
  font-weight: 500;
}

.fav-logo {
  height: 40px !important;
  width: 40px !important;
}

// @media screen and (max-width: 767px) {
//   .sidebar {
//     width: 100%;
//     /* Change width to 100% */
//     max-width: 100%;
//     /* Change max-width to 100% */
//     background: #000;
//   }
// }

.material-symbols-outlined {
  color: #b1b1b1;
  margin: 0 16px 0 22px;
}

.material-symbols-outlined.hover,
.material-symbols-outlined.active {
  color: white;
}

.app-header__logo {
  display: flex;
  /* Use flexbox */
  align-items: center;
  /* Align items vertically in the center */
  margin-top: -30px;
  margin-left: 20px;
}

.separator {
  border: none !important;
  border-bottom: 2px solid #c9c4c4 !important;
  margin-top: 10px !important;
  width: 100% !important;
}

.app-header__logo img {
  // margin-right: 10px;
  width: 54%;
  // height: 48px;
}

.title-header {
  font-family: "Yusei Magic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.title {
  //styleName: Medium/Type@14;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
}

.icon {
  width: 24px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
}

.sidebar .nav-links {
  height: 100%;
  width: 280px;
  padding-bottom: 150px;
  // overflow: hidden;
}

.sidebar .nav-links li {
  position: relative;
  width: 100%;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  margin: 7px;
  line-height: 21px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar .nav-links li:hover {
  // margin-top:3px;
  // margin-bottom:3px;
  background-color: #fb6f10;
}

.sidebar .nav-links li.active {
  background-color: #fb6f10;
  color: white;
}

// /* Dropdown Title */
.sidebar .nav-links .dropdown-title {
  width: 100%;
  overflow: hidden;
  transition: all 0.52s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.sidebar.sidebar-close .nav-links .dropdown-title {
  width: 60px;
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 60px;
  text-align: center;
  line-height: 50px;
  color: #b1b1b1;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li:hover i,
.sidebar .nav-links li.active i {
  color: white;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

// // /* a Tag */
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
}

// /* Link Name */
.sidebar .nav-links li a .link_name {
  font-size: 14px;
  font-weight: 500;
  color: #b1b1b1;
  transition: all 0.4s ease;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.sidebar .nav-links li:hover a .link_name,
.sidebar .nav-links li.active a .link_name {
  color: white;
}
.sidebar .nav-links li:hover a .material-symbols-outlined,
.sidebar .nav-links li.active a .material-symbols-outlined {
  color: white;
}
.sidebar.sidebar-close .nav-links li a .link_name {
  pointer-events: none;
}

/* Sub Menu */
.sidebar .nav-links li .sub-menu {
  padding: 4px 8px 0px 49px;
  background: white;
  display: none;
  // transition: all 0.4s ease;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  padding: 8px 0;
  white-space: nowrap;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #b1b1b1;
}

.sidebar .nav-links li .sub-menu li {
  padding-left: 0px;
}

.sidebar .nav-links li .sub-menu li:hover a,
.sidebar .nav-links li .sub-menu li.active a {
  color: #fb6f10;
  background-color: white;
}

.sidebar.sidebar-close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 0;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  // display: block;
  pointer-events: none;
  transition: 0s;
  overflow: hidden;
}

.sidebar.sidebar-close .nav-links li .sub-menu li {
  padding: 6px 15px;
  width: 200px;
}

.sidebar.sidebar-close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.sidebar-close .nav-links li .sub-menu .link_name {
  font-size: 16px;
  font-weight: 600;
  /* opacity: 1; */
  display: block;
}

/* li:first-child contain .link_name */
.sidebar.sidebar-close .nav-links li .sub-menu li:first-child {
  background: white;
  pointer-events: none;
}

.sidebar.sidebar-close .nav-links li .sub-menu li:first-child:hover .link_name,
.sidebar.sidebar-close
  .nav-links
  li
  .sub-menu
  li:first-child.active
  .link_name {
  color: rgb(174, 171, 171);
}

// .sidebar.sidebar-close .nav-links li .sub-menu li:first-child {
//     display: none;
// }

.sidebar .nav-links li .sub-menu.blank {
  pointer-events: auto;
  /* padding: 3px 20px 6px 16px; */
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank,
.sidebar .nav-links li.active .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.sidebar-close ~ .home-section {
  left: 60px;
  width: calc(100% - 60px);
}

@media (max-width: 420px) {
  .sidebar.sidebar-close .nav-links li .sub-menu {
    display: none;
  }
}

@import url("/src/assets/styles/variables.scss");

ul {
  padding-left: 1rem;
}
.arrow {
  font-size: smaller !important;
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
    width: 100px;
    background: #000;
  }
  .sidebar .nav-links {
    height: 100%;
    /* width: 280px; */
    padding-bottom: 150px;
  }
  .material-symbols-outlined {
    font-size: 40px;
    margin: 20px 20px;
  }
  .show-on-mobile {
    display: block !important;
  }

  .link_name {
    display: none;
  }

  .hide {
    display: inline !important;
  }
}

.sidebar {
  .menu-links {
    height: 100%;
    padding-top: 30px;

    li {
      position: relative;
      transition: var(--tran-04);
      border-radius: 6px;

      &:hover {
        background-color: var(--primary-color-light);

        .sub-menu {
          display: block;
        }
      }

      &.parent-active {
        background-color: var(--primary-color-light);

        .icon {
          color: var(--active-text-color);
        }
        .sub-menu {
          display: block !important;
        }
      }

      i {
        color: var(--text-color);
        min-width: 78px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        text-align: center;
      }

      a {
        display: flex;
        align-items: center;
        border-radius: 6px;

        .nav-text {
          font-size: 18px;
          font-weight: 400;
          color: var(--text-color);
        }
      }

      .icon-link {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .arrow {
          min-width: 30px !important;
        }
      }

      .sub-menu {
        padding: 6px 6px 14px 75px;
        margin-top: -10px;
        background-color: var(--primary-color-light);
        display: none;
        transition: var(--tran-04);

        a {
          color: var(--text-color);
          font-size: 15px;
          padding: 5px;
          white-space: nowrap;
          opacity: 0.7;
          transition: var(--tran-03);

          &:hover {
            opacity: 1;
          }

          .nav-text {
            font-size: 15px;
          }
        }

        &.link-name {
          display: none;
        }
      }

      .active {
        background-color: var(--active-color);
        opacity: 1 !important;
        i,
        .nav-text {
          color: var(--sidebar-color);
        }
      }
    }
  }

  &.close {
    width: 60px;
    padding: 10px 0;

    .min {
      opacity: 0;
      display: none;
    }

    i {
      min-width: 60px !important;
    }

    li.parent-active {
      background-color: var(--primary-color) !important;

      i,
      .nav-text {
        color: var(--sidebar-color);
      }
    }

    .sub-menu {
      position: absolute;
      left: 100%;
      top: -10px;
      margin-top: 0;
      padding: 10px 20px !important;
      border-radius: 0 6px 6px 0;
      transition: var(--tran-04);
      opacity: 0;
      pointer-events: none;
    }

    li:hover .sub-menu {
      top: 0;
      opacity: 1;
      pointer-events: auto;
    }
  }
}
